<div>
  <div id="map"></div>
</div>

<div class="inner">
  <h1>Your Profile Page</h1>
  <p><%= @user.email %></p>

  <div class="posts">
  <div class="post">

  <% @posts.each do |post| %>
    <h2><%= post.title %></h2>
    <% @post.photos.each do |f| %>
      <%= image_tag f.photo_image.url(:medium) %>
    <% end %>
    <h3><%= post.location %></h3>
    <p><%= post.user.email %></p>
    <p><%= post.story %></p>
    <p><%= post.created_at %></p>

    <% if signed_in? && current_user.id == post.user_id %>
      <a href="/users/<%= post.user_id %>/posts/<%= post.id %>/edit"><button class="input">Edit</button></a>
      <%= form_for [@user, @post], method: 'delete' do |f| %>
        <%= f.submit 'Delete Post', id: 'destroy' %>
      <% end %>
    <% end %>
    <hr>
  <% end %>

  <script> buildGMap(<%=raw @hash.to_json %>); </script>
</div>
