
<h1>Post Show</h1>

<div style='width: 800px;'>
  <div id="map" style='width: 800px; height: 400px;'></div>
</div>


<div class="posts">
<div class="post">

<% @posts.each do |post| %>
  <h2><%= post.title %></h2>
  <h3><%= post.location %></h3>
  <p><%= post.user.email %></p>
  <p><%= post.story %></p>
  <p><%= post.created_at %></p>

  <% if signed_in? && current_user.id == post.user_id %>
      <a href="/users/<%= post.user_id %>/posts/<%= post.id %>/edit"><button class="input">Edit</button></a>
      <a href="/users/<%= post.user_id %>/posts/<%= post.id %>/delete"><button class="input">Delete</button></a>

  <% end %>

  <hr>
<% end %>

<script> buildGMap(<%=raw @hash.to_json %>); </script>
