<div class="inner">
  <div class="inner-action">
    <h1>Post New</h1>

    <%= form_for [current_user, @post] do |f| %>

      <% @post.errors.full_messages.each do |msg| %>
        <%= "<p>#{msg}</p>".html_safe %>
      <% end %>

      <div><%= f.label :title %><br />
        <%= f.text_area :title %>
      </div>
      <div><%= f.label :location %><br />
        <%= f.text_area :location %>
      </div>
      <div><%= f.label :story %><br />
        <%= f.text_area :story %>
      </div>

  <div class="photo-checkboxes">
  <ul>
  <% @photos.each do |photo| %>
      <li>
        <label>
        <%= check_box_tag 'post[photo_ids][]', photo.id %>
        <%= image_tag photo.photo_image.url(:thumb) %>
        </label>
      </li>
  <% end %>
  <br>
  <%= f.submit "submit", id: "submit" %>
<% end %>
</ul>

</div>

<script>
  $("img").on("click", function() {
    $(this).toggleClass("selected");
  });
</script>
