<h1>Post Show</h1>
<div style='width: 800px;'>
  <div id="map" style='width: 800px; height: 400px;'></div>
</div>

<div class="posts">
<div class="post">

  <h2><%= @post.title %></h2>
  <h3><%= @post.location %></h3>
  <p><%= @post.user.email %></p>
  <p><%= @post.story %></p>
  <p><%= @post.created_at %></p>

  <hr>


<script> buildGMap(<%=raw @hash.to_json %>); </script>
