<div class="navbar">
  <div class="navbar-inner">
    <ul class="nav">
      <li><%= link_to "SupaTravel", root_path, class: "brand" %></li>
      <% if !user_signed_in? %>
        <li><%= link_to "Create Post", new_user_registration_path %></li>
        <li><%= link_to "Add Photo", new_user_registration_path %></li>
        <li><%= link_to "Register", new_user_registration_path %></li>
        <li><%= link_to "Sign In", new_user_session_path %></li>
      <% else %>
        <li><%= link_to "Sign Out", destroy_user_session_path, :method => :delete %></li>
        <li><%= link_to "Your Posts", user_path(current_user) %></li>
        <li><%= link_to "Create Post", new_user_post_path(current_user)%></li>
        <li><%= link_to "Add Photo", new_user_photo_path(current_user)%></li>
      <% end %>
    </ul>
  </div>
</div>
